<md-card layout="row" layout-align="center center" class="blog-md">
    Selected in Google Summer of Code :)
</md-card>
<md-card-content layout="column" layout-align="center center" class="blog-md-card">
   I was waiting eagerly at the midnight for the my Google Summer of Code<a href="https://summerofcode.withgoogle.com/"><font color="green" style="font-size:25px;">GSOC</font></a> Result. Anxiousness was at great height.I was almost sweating and couldn't sleep from last 30 hours. Then the result came out and i was SELECTED for the project which i made the proposal just 3 hours before the deadline.  
   </br>
   <br>
    <code>Yes ! I made it to GSOC ;)</code>
    <br>
    <p>It was the moment which will be cherished forever and then i shared the news with my family and friends. They all were super-duper happy for me.</p>
    <br>
    <code>It really feels great to be a part of GSOC :D</code>
    <br>
    <p>I got to learn about GSOC from my senior who is doing Cool stuffs in machine learning these days :D. Without his help it would be very much difficult for me to crack in my 2nd year only. A real Big Thanks to him.</p>
<br>
    <code>I was selected in GSOC under Mifos Initiative.</code>
    <br>
<p>Mifos is a diverse community of microfinance institutions, technology professionals, business people, volunteers, and contributors. I am really excited to start working on my project <a href="https://mifosforge.jira.com/wiki/display/RES/Google+Summer+of+Code+2016+Ideas#GoogleSummerofCode2016Ideas-Browser-BasedOfflineAccess">"Browser Based Offline access"</a> this summer. 
    </p>
    <img src="../img/blog/mifos_color.jpg" height="208" width="604">
    <br>
    <p>Now the main goal is to complete GSOC Succesfully ;)</p>
   
    </md-card-content>
 